<ion-header>
  <ion-toolbar>
    <ion-title>Level Selesai</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <p class="title ion-text-wrap">Selamat! Anda sudah menyelesaikan Kategori ini</p>
  <p class="correct">Jawaban benar: {{ live }}/10</p>

  <p class="textCenter"><ion-button class="option" (click)="backToHome()">Menu Utama</ion-button></p>
  <!-- <p class="textCenter">
    <ion-button class="option">Level Selanjutnya</ion-button>
  </p> -->

</ion-content>
