ion-content.background{
    --background: url('../../../assets/icon/bg.jpg') no-repeat fixed center;
}

.title{
    color: #7A9EAF;
    font-size: 30px;
    text-align: center;
    margin-top: 40%;
    font-weight: bold;
}

.correct{
    color: rgba(0, 0, 0, 0.604);
    font-size: 25px;
    text-align: center;
    margin-top: 40%;
}

.textCenter{
    text-align: center;
}

.option{
    --background: #7A9EAF;
    --border-radius: 10px;
    --padding-top: 7px;
    --padding-end: 20px;
    --padding-start: 20px;
    --padding-bottom: 7px;
    color: white;
}