.start-slide {
    justify-content: center;
    align-items: center;
}

.title {
    color: rgba(0, 0, 0, 0.604);
    font-size: 25px;
    text-align: center;
    margin-bottom: 0;
}

.question {
    color: rgba(0, 0, 0, 0.604);
    font-size: 15px;
    text-align: center;
    margin-bottom: 30px;
}

.option {
    --border-radius: 20px;
    --padding-top: 30px;
    --padding-end: 40px;
    --padding-start: 40px;
    --padding-bottom: 30px;
    width: 90%;
    height: 70%;
    font-weight: bolder;
    --border-color: #7A9EAF;
    color: #7A9EAF;
}

.row {
    margin-bottom: 1rem;
}


ion-modal {
    max-width: 200px;
    max-height: 200px;
    text-align: center;
}

.user-live {
    width: 100%;
    background-color: #7A9EAF;
}

.user-live h4 {
    margin: 0;
}

.has-card-footer {
    position: absolute;

    bottom: 50px;
    width: 100%;
    margin: 0;
    border-radius: 0;
    background-color: #7A9EAF;
    color: white;
}



ion-icon {

    font-size: 28px;
}