.background {

    display: block;
    --padding: 5%;

}

ion-list {
    padding: 16% 10%;
}

ion-list h1 {
    font-weight: bold;
    color: green;
    text-align: center;
    font-size: 32px;
    padding-bottom: 10px;
}

.contain {
    --padding-top: 20px;
    --padding-end: 20px;
    --padding-start: 20px;
    --padding-bottom: 20px;
}