<ion-header>
  <!-- <ion-toolbar>
    <ion-title>{{ selectedRecipe.title }}</ion-title>
    <ion-buttons slot="primary" (click)="onCancel()">
      <ion-icon name="close"></ion-icon>
    </ion-buttons>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <h1 style="font-weight: bold; font-size: 50px; color: green;">Jawaban anda benar</h1>
      
    </ion-item>
    <ion-button color="primary"  routerLink="">Penjelasan</ion-button>
    <ion-button color="primary"  routerLink="">Selanjutnya</ion-button>
  </ion-list>
 
 
 
 
</ion-content>