<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button default-href="login"></ion-back-button>
    </ion-buttons>
    <ion-title> Pengaturan </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" lines="none">
  <ion-item color="tertiary" lines="none">
    <ion-label color="secondary">Nama Aplikasi : Belajar Budaya</ion-label>
  </ion-item>

  <ion-item color="tertiary" lines="none">
    <ion-label color="secondary">Versi : 1.0.0</ion-label>
  </ion-item>
  <ion-item color="tertiary" lines="none">
    <ion-label color="secondary">Deskripsi : Aplikasi kuis sederhana</ion-label>
  </ion-item>
  <ion-item color="tertiary" lines="none">
    <ion-label color="secondary">Dibuat : Waseda Boys</ion-label>
  </ion-item>

  <app-tabs></app-tabs>
</ion-content>
