<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/aboutus">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Tentang</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/settings">
      <ion-icon name="settings-sharp"></ion-icon>
      <ion-label>Pengaturan</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/profile">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Akun</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
