<ion-header>
  <ion-toolbar>
    <ion-title>level3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-slides #slides>
    <ion-slide *ngFor="let item of quizList; let i = index;">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-img src="{{item.imgUrl}}"></ion-img>
          </ion-col>
          <ion-col size="12">
            <h3>Question {{i+1}}</h3>
          </ion-col>
          <ion-col size="12">
            <h3>{{item.question}}</h3>
          </ion-col>
          <ion-col size="12">
            <ion-grid>
              <ion-row class="row">
                <ion-col size="1"></ion-col>
                <ion-col size="5">
                  <ion-button
                    fill="outline"
                    class="option ion-text-wrap"
                    (click)="selectAnswer(item.answer1,item)"
                    >{{item.answer1}}</ion-button
                  >
                </ion-col>
                <ion-col size="5">
                  <ion-button
                    fill="outline"
                    class="option ion-text-wrap"
                    (click)="selectAnswer(item.answer2,item)"
                    >{{item.answer2}}</ion-button
                  >
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="1"></ion-col>
                <ion-col size="5">
                  <ion-button
                    fill="outline"
                    class="option ion-text-wrap"
                    (click)="selectAnswer(item.answer3,item)"
                    >{{item.answer3}}</ion-button
                  >
                </ion-col>
                <ion-col size="5">
                  <ion-button
                    fill="outline"
                    class="option ion-text-wrap"
                    (click)="selectAnswer(item.answer4,item)"
                    >{{item.answer4}}</ion-button
                  >
                </ion-col>
                <ion-col size="12" class="user-live">
                  <ion-row>
                    <ion-col>
                      <h4>0:15</h4>
                    </ion-col>
                    <ion-col>
                      <ion-icon name="heart-outline"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
