<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="profile"></ion-back-button>
    </ion-buttons>
    <ion-title text-center> Medali </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" lines="none">
  <ion-grid>
    <ion-row>
      <ion-col
        size="4"
        *ngFor="let medal of medals | keyvalue"
        style="display: flex; justify-content: center"
      >
        <ion-avatar class="badge" (click)="presentPopup(medal.key)">
          <img src="{{medal.value}}" />
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
