<ion-header>
  <ion-toolbar>
    <ion-title>level1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background" >
  <ion-slides #slides>
    <ion-slide *ngFor="let item of quizList; let i = index;">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <div class="question-number">Pertanyaan {{i+1}}</div>
          </ion-col>
          <ion-col size="12">
            <div class="question">{{item.question}}</div>
          </ion-col>
          <ion-col size="12">
            <ion-grid>
              <ion-row class="row">
                <ion-col size="1"></ion-col>
                <ion-col size="5" style="padding: 0;">
                  <ion-button
                    fill="outline"
                    class="option ion-text-wrap"
                    (click)="selectAnswer(item.answer1,item)"
                    ><span class="text-answer">{{item.answer1}}</span></ion-button
                  >
                </ion-col>
                <ion-col size="5" style="padding: 0;">
                  <ion-button
                    fill="outline"
                    class="option ion-text-wrap"
                    (click)="selectAnswer(item.answer2,item)"
                    ><span class="text-answer">{{item.answer2}}</span></ion-button
                  >
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="1"></ion-col>
                <ion-col size="5" style="padding: 0;">
                  <ion-button
                    fill="outline"
                    class="option ion-text-wrap"
                    (click)="selectAnswer(item.answer3,item)"
                    ><span class="text-answer">{{item.answer3}}</span></ion-button
                  >
                </ion-col>
                <ion-col size="5" style="padding: 0;">
                  <ion-button
                    fill="outline"
                    class="option ion-text-wrap"
                    (click)="selectAnswer(item.answer4,item)"
                    ><span class="text-answer">{{item.answer4}}</span></ion-button
                  >
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
         
        </ion-row>
      </ion-grid>
    </ion-slide>
   
  </ion-slides>
  <ion-row>
    <ion-row class="user-live">
        <ion-col class="left-side">
          <h4>{{(time | async)}}</h4>
        </ion-col>
        <ion-col class="right-side" *ngIf="live === 3">
          <ion-icon name="heart"></ion-icon>
          <ion-icon name="heart"></ion-icon>
          <ion-icon name="heart"></ion-icon>
        </ion-col>
        <ion-col class="right-side" *ngIf="live === 2">
          <ion-icon name="heart-outline"></ion-icon>
          <ion-icon name="heart"></ion-icon>
          <ion-icon name="heart"></ion-icon>
        </ion-col>
        <ion-col class="right-side" *ngIf="live === 1">
          <ion-icon name="heart-outline"></ion-icon>
          <ion-icon name="heart-outline"></ion-icon>
          <ion-icon name="heart"></ion-icon>
        </ion-col>
        <ion-col class="right-side" *ngIf="live === 0">
          <ion-icon name="heart-outline"></ion-icon>
          <ion-icon name="heart-outline"></ion-icon>
          <ion-icon name="heart-outline"></ion-icon>
        </ion-col>
      </ion-row>
    
  </ion-row>
</ion-content>
